# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
settings.gradle
/gradle.properties
/secring.gpg
/src/main/java/me/linusdev/data/Test.java
/src/main/java/me/linusdev/data/test/Test.java
